@tailwind base;
@tailwind components;
@tailwind utilities;

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #36393f;
}

code {
    font-family: source-code-pro,Menlo,Monaco,Consolas,courier new,monospace
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.top {
    background: #5865F2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.main-page {
    overflow-x: hidden;
    text-rendering: geometricPrecision
}

.feature-header {
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.navigation {
    width: 90%;
    max-width: 60m;
    height: 6rem;
    margin: auto
}

.nav-links, .navigation {
    display: flex;
    justify-content: space-between
}

.nav-links {
    line-height: 6rem;
    width: 50%;
    min-width: 12rem;
    max-width: 20rem
}

.feature, .ofeature {
    width: 100%;
    display: flex;
    justify-content: center;
    word-wrap: break-word;
    padding: 3rem 2rem
}

.blurple {
    --tw-text-opacity: 1;
    color: #5865F2;
}

.ofeature {
    background: #dedede
}

.efeature {
    width: 100%;
    display: flex;
    word-wrap: break-word;
    justify-content: center;
    padding: 3rem 2rem
}

.icon-show {
    width: 300px
}

.end-button {
    background: #5865F2
}

.flexlist {
    position: relative;
    width: 100%;
    height: 100px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    transition: all .2s cubic-bezier(.4,.6,.5,1.32);
    vertical-align: middle;
    border: 1px solid transparent;
    position: relative;
    padding: 24px 0 0;
    width: 100%;
    padding-bottom: 24px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
    flex-direction: column;
    border-bottom: 1px solid #d6e0ea;
    /* width: 80%; */
    height: inherit;
    max-width: 1200px;
    margin: 0 auto;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* Spaces */
    gap: 10px;
    gap: 10px 20px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 20px;
}

.flexitem:hover {
    border: 3px solid #5865F2;
}

.buttons {
    width: 200px;
    margin: 0 auto;
    display: inline;
}

.sidebutton {
    width: 200px;
    margin: 0 auto;
    display: inline;
}

.blazorModel {
    width: 600px;
    z-index: 102;
    background-color: #36393F;
    border: #fff;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.blazorModalText {
    color: white;
}

.IconsLogo {
    width: 100px;
    display: inline;
    margin-right: 15px;
}

.CodeBox, pre {
    color: #e5e7eb;
    background-color: #2f3136;
}

.CodeBox2, pre {
    /*color: #374151;*/
    /* background-color: #f2f3f5; */
    overflow-x: auto;
    font-size: .875em;
    line-height: 1.7142857;
    margin-top: 1.7142857em;
    margin-bottom: 1.7142857em;
    /*    padding-top: .8571429em;
    padding-right: 1.1428571em;
    padding-bottom: .8571429em;
    padding-left: 1.1428571em;*/
    border-radius: 20px;
    margin-right: 50px;
    margin-left: 50px;
}

.mr-0 {
    /* margin-top: 0; */
    /* margin-bottom: 0; */
}

.CreditsText {
    color: white;
}