<div>
    <br /><br />
    <img src="/img/Icons.png" class="IconsLogo"/><a href="/discord" class="link hover:underline cursor-pointer text-6xl text-white">Icons made by Danu. (Click to join Icons Discord)</a>
</div>