<div>
<img src="https://cdn.discordapp.com/emojis/897218802213867611.png?size=96" style="width: 20px;height: 20px;" /> @Title <br />
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}