<h1 class="text-6xl font-bold text-left">@(name.Replace(name[0], name[0].ToString().ToUpper().ToCharArray()[0]))</h1>
<img src="img/@(name + type)" style="width: 100px;float:right;margin-left:20px"/>
<br /><br />
<div class="buttons text-right">
    <a href="img/@(name + ".png")" download target="_blank" class="sidebutton block bg-white text-white font-bold transition duration-200 shadow hover:shadow-2xl ease-in-and-out rounded-lg mx-auto end-button mt-5 px-2 py-4 mb-36 hover:opacity-80 text-xl font-sans w-60">
PNG</a>
<a href="img/@(name + ".svg")" download target="_blank" class="sidebutton block bg-white text-white font-bold transition duration-200 shadow hover:shadow-2xl ease-in-and-out rounded-lg mx-auto end-button mt-5 px-2 py-4 mb-36 hover:opacity-80 text-xl font-sans w-60">
SVG</a>
</div>

@code {
    [Parameter] public string name { get; set; }

    [Parameter] public string type { get; set; }
}