
<div name="navigation" class="navigation">
    <img src="logo.svg" class="h-full" style="margin-top: 10px;">
    <div class="nav-links text-white font-semibold">
    <a href="/discord" target="_blank" class="hover:underline cursor-pointer">Discord</a>
    </div>
</div>