
<div name="navigation" class="navigation">
    <img src="icon.png" class="h-full" style="margin-top: 10px;">
    <div class="nav-links text-white font-semibold">
        <a href="/discord" target="_blank" class="hover:underline cursor-pointer linkw">Discord</a>
        <a href="/credit" target="_blank" class="hover:underline cursor-pointer linkw">Crediting</a>
    </div>
</div>