
<div name="navigation" class="navigation">
    <img src="logo.svg" class="h-full" style="margin-top: 10px;">
    <div class="nav-links text-white font-semibold">
        <a href="" target="_blank"
           class="hover:underline cursor-pointer">Invite</a><a href="https://docs.pepper.trtle.xyz" target="_blank"
                                                               class="hover:underline cursor-pointer">Docs</a><a href="https://pepper.trtle.xyz/support"
                                                                                                                 target="_blank" class="hover:underline cursor-pointer">Support</a><a href="/auth" class="hover:underline cursor-pointer">Login</a>
    </div>
</div>