<a class="hover:underline cursor-pointer" href="support"><img src="img/discord_blurple.svg" style="width: @size;" /> @text</a>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? TextBold { get; set; }

    private string? text;

    private string? size;

    protected override void OnInitialized()
    {
        MyClass();
    }

    private void MyClass()
    {
        var ThisText = "";
        if (TextBold == "true")
        {
            ThisText = "Support Server";
            size = "30px";
        }
        else if (TextBold == "false")
        {
            ThisText = "support server";
            size = "15px";
        }
        text = ThisText;
    }
}