@page "/icons"
@using Microsoft.JSInterop
@inject IJSRuntime JS;

<div class="text-center text-black main-page">
    <div class="pb-12 top">
        <NavMenu/>
        <div id="main" name="main" class="mt-10 text-white">

            <h1 class="text-6xl font-bold align-middle">Icons</h1>
            <h1 class="text-6xl opacity-20 transform -translate-y-5 font-bold mb-2 align-middle">
                <span class="opacity-0">.</span>
            </h1>
        </div>
    </div>
    <div>
    </div>
    
</div>