@page "/vote"
@inject NavigationManager NavManager

<h1>Redirecting you to https://top.gg</h1>

@code {
    protected override void OnInitialized()
    {
        NavManager.NavigateTo("https://top.gg/bot/891109752078213172/vote");
    }
}